USE [master]
GO
/****** Object:  Database [ContactDB]    Script Date: 10/12/2018 4:20:07 AM ******/
CREATE DATABASE [ContactDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ContactDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\ContactDB.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ContactDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\ContactDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ContactDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ContactDB]
GO
/****** Object:  Table [dbo].[Contact]    Script Date: 10/12/2018 4:20:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contact](
	[ContactId] [int] IDENTITY(1,1) NOT NULL,
	[ContactName] [nvarchar](100) NULL,
	[Email] [nvarchar](100) NULL,
	[Address] [nvarchar](500) NULL,
	[City] [nvarchar](500) NULL,
	[Region] [nvarchar](100) NULL,
	[Zipcode] [nvarchar](100) NULL,
	[Country] [nvarchar](100) NULL,
	[Phone] [nvarchar](100) NULL,
 CONSTRAINT [PK_Contact] PRIMARY KEY CLUSTERED 
(
	[ContactId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Contact] ON 

INSERT [dbo].[Contact] ([ContactId], [ContactName], [Email], [Address], [City], [Region], [Zipcode], [Country], [Phone]) VALUES (1, N'Name1', N'm@m.com', N'Address strret', N'California', N'CA', N'60290', N'USA', N'001-0074321')
INSERT [dbo].[Contact] ([ContactId], [ContactName], [Email], [Address], [City], [Region], [Zipcode], [Country], [Phone]) VALUES (2, N'Test name', N'test@test.com', N'testaddress 9', N'chicago', N'IL', N'60291', N'USA', N'001-0074391')
SET IDENTITY_INSERT [dbo].[Contact] OFF
USE [master]
GO
